<div class="container">
  <h3>My Information</h3>

  <span ng-if="myInfoCtrl.userInfo === undefined">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </span>

  <div ng-if="myInfoCtrl.userInfo !== undefined">
    First Name:   {{ myInfoCtrl.userInfo.firstName }} <br>
    Last Name:    {{ myInfoCtrl.userInfo.lastName  }} <br>
    Phone Number: {{ myInfoCtrl.userInfo.phone     }} <br>
    Menu Item:
    <br>
    
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <img class="img-responsive" width="250" height="150" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.userInfo.menuItem.short_name}}.jpg" alt="{{myInfoCtrl.userInfo.menuItem.name}}">
        </div>
      </div>

      <div class="col-sm-7">
        <h3 class="menu-item-title">{{myInfoCtrl.userInfo.menuItem.name}}</h3>
        <p class="menu-item-details">{{myInfoCtrl.userInfo.menuItem.description}}</p>
      </div>
    </div>



    <br>
  </div>


</div>
